<!DOCTYPE html>

<html ng-app="" ng-controller="myCtrl">
    <style>
   table, th , td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
   }
   
   table tr:nth-child(odd) {
      background-color: #f2f2f2;
   }

   table tr:nth-child(even) {
      background-color: #ffffff;
   }
</style>
    
<body>
<div style="border:1px solid #ccc;padding:15px;width:100%">
 <button ng-click="start()">Start</button>
 <button ng-click="stop()">Stop</button>
 .........count = <b ng-bind="count"></b>
</div>
    
    <div >
         clock is <p  ng-bind="clock"></p>
        Row count is <b  ng-bind="greeting.rowCount"></b>
               
    <!-- <ul ng-repeat="book in greeting.rows">

       <li>{{ book.kountti + ' - ' + (book.country) }}</li>

            </ul> -->
			
        
        <table>
   <tr>
      <th>Count</th>
      <th>Country</th>
   </tr>
   
   <tr ng-repeat = "book in greeting.rows">
      <td>{{ book.kountti  }}</td>
      <td>{{ book.country }}</td>
   </tr>
</table>
           
			
		</div> 
    
 
    
<script>
function myCtrl($scope, $http, $timeout, $interval) {

    $scope.count = 0;
    $scope.ajaxPeriodicall = function() {
        
        $http.get('http://w520:8081/time').
         success(function(data, status, headers, config) {
            // this callback will be called asynchronously
            // when the response is available
            $scope.count = $scope.count + 1;
            $scope.greeting = data;
             $scope.clock = new Date();
            console.log($scope.greeting);
            
         }); 
       
    };

    $scope.start = function() {
        
       $scope.myCall = $interval($scope.ajaxPeriodicall, 10000);        
    };

    $scope.stop = function() {
       $interval.cancel($scope.myCall);   
    };
    
}
</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>
