<!DOCTYPE html>

<html>
    
  <head>
          
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.js"></script>
<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.charts.js"></script>
    <script src="cluster_controller.js"></script> 
      <link href="/style/style.css" type="text/css" rel="stylesheet" />


    </head>
    
<body ng-app="myApp" ng-controller="timecontrl"  >

  
	
       
		<div class="content">
            <div class="header">
             <h1 class="topH1"> OH2BBT skimmer statistics</h1>
                </div>
			
		<div class="stuff">
	

  <div >
             <button ng-click="start()">Start</button>
 <button ng-click="stop()">Stop</button>
         .........count = <b ng-bind="count"></b>
    <p> {{clock}}</p>
      
     
               <p style="display:inline" fusioncharts width="600" height="300" type="column2d" chart="{{attrs}}", datasource="{{cumul}}" ></p>
     
    <p> SPOT COUNT FROM LAST HOUR  </p>
        <div fusioncharts width="400" height="200" type="column2d" chart="{{attrs}}", datasource="{{myDataSource}}" ></div>
     
      <p>  COUNTRY COUNT </p>
    
           <div fusioncharts width="800" height="500" type="pie3d" chart="{{attrs}}", datasource="{{greeting}}" ></div>
    </div>
       

    <div >
                                 
    <table class="tftable">
   <tr>
      <th>Count</th>
      <th>band</th>
   </tr>
   
   <tr ng-repeat = "d in bandcount.data">
      <td>{{ d.value  }}</td>
      <td>{{ d.label }}</td>
   </tr>
</table>
           
	               
    <table class="tftable">
   <tr>
      <th>Count</th>
      <th>Country</th>
   </tr>
   
   <tr ng-repeat = "d in greeting.data">
      <td>{{ d.value  }}</td>
      <td>{{ d.label }}</td>
   </tr>
</table>
        
      
        
        
        

        
		</div> 
     </div> <!-- content -->
  
  
</div><!-- content -->
      
        </body>
    
    
       
      
</body>
</html>