<!DOCTYPE html>

<html>
    
  <head>
          <link href="/style/style.css" type="text/css" rel="stylesheet" /> 
    
    <script src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.js"></script>
<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.charts.js"></script>
    <script src="dashboard_controller_sn.js"></script> 
     


    </head>
    
<body ng-app="myApp" ng-controller="timecontrl"  >

  
	
       
		<div ng-click="start()"  class="content">
            <div class="header">
             <h1 class="topH1"> DX cluster Dashboard by OH2BBT</h1>
                </div>
			
		<div class="stuff">
	

  <div >
             
 <!--<button ng-click="stop()">Stop</button>
        
   <!--Cluster: <input type="text" id="cluster" value="localhost:7300">-->
    <!--  <p style="padding:30px;">  cluster, spotter continent, mode </p> -->
      <div style="padding:30px;">
<select  id="clusters">
    <option value=>Select cluster</option>
 <option value="RBN">reversebeacon</option>
 <option value="OH2BBT">OH2BBT SKIMMER </option>
    <option value="dongle">OH2BBT dongle</option>
 </select>
      
      <select id="de_continent">
                <option value=>Select spotter continent</option>
                <option value="EU">from EU</option>
                <option value="NA">from NA</option>
                <option value="AS">from AS</option>
                <option value="SA">from SA</option>
                <option value="OC">from OC</option>
 </select>
      
            <select id="mode">
                <option value=>Select mode</option>
                    <option value=CW>CW</option>
                    <option value=RTTY>RTTY</option>
                    <option value=PSK31>PSK31</option>
                <option value=PSK63>PSK63</option>
                <option value=PSK100>PSK100</option>
           </select>
      
     </div>             

    <p style="padding:30px;"> {{clock}}</p>
      
       <table class="htable">
   <tr>
      <th>DISTINCT CALLSIGNS FROM LAST 7 HOUR </th>
      <th>DISTINCT CALLSIGNS/BAND (LAST HOUR) </th>
   </tr>
      </table>
     
               <div class="label" fusioncharts width="400" height="300" type="column3d" chart="{{attrs}}", datasource="{{cumul}}" ></div>
       
        <div fusioncharts width="400" height="300" type="column3d" chart="{{attrs}}", datasource="{{band}}" ></div>
     
            <table class="htable">
   <tr>
      <th> COUNTRIES FROM LAST HOUR </th>
      
   </tr>
      </table>
      
           <div fusioncharts width="900" height="400" type="pie3d" chart="{{attrs}}", datasource="{{countries}}" ></div>
     
   
    </div>
       

    <div >
   
         
        
     <form style="padding:30px;">
    CALL FILTER: <input style="text-transform: uppercase" type="text"  ng-model="dx_call" >
         <input id="filter on" type="radio" name="filter"value="filter on"> filter on 
         <input id="filter off"type="radio" name="filter" value="filter off" checked> filter off 
  </form>
         <div class="label" fusioncharts width="600" height="300" type="line" chart="{{avg_attrs}}", datasource="{{averagesnr}}" ></div>
 
        <div style="padding:30px;">
        <table class="tftable">
   <tr>
      <th>decall</th>
      <th>dxcall</th>
       <th>country</th>
      <th>freq</th>
       <th>band</th>
      <th>mode</th>
       <th>snr</th>
      <th>datetime</th>
<th>cqmode</th>
   </tr>
   
   <tr ng-repeat = "d in dxrows.data">
      <td>{{ d.decall  }}</td>
      <td>{{ d.dxcall }}</td>
      <td>{{ d.country  }}</td>
      <td>{{ d.freq }}</td>
      <td>{{ d.band  }}</td>
      <td>{{ d.mode }}</td>
      <td>{{ d.sig_noise  }}</td>
      <td>{{ d.insert_time }}</td>
<td>{{ d.skimmode}}</td>
   </tr>
</table>
            
                            <table class="htable">
   <tr>
      <th><select id="dx">
          <option value="">select continent</option>
          <option value="ALL">ALL</option>
          <option value="DX">DX</option>
 
 
           </select> </th>
      
   </tr>
      </table>
            
            <table class="tftable">
   <tr>
      <th>decall</th>
      <th>dxcall</th>
       <th>country</th>
      <th>freq</th>
       <th>band</th>
      <th>mode</th>
       <th>snr</th>
      <th>datetime</th>
	<th>cqmode</th>
   </tr>
   
   <tr ng-repeat = "d in rows.data">
      <td>{{ d.decall  }}</td>
      <td>{{ d.dxcall }}</td>
      <td>{{ d.country  }}</td>
      <td>{{ d.freq }}</td>
      <td>{{ d.band}}</td>
      <td>{{ d.mode }}</td>
      <td>{{ d.sig_noise}}</td>
      <td>{{ d.insert_time}}</td>
<td>{{ d.skimmode}}</td>
   </tr>
</table>
       
            </div>

                                 

        
         
        
      
        
        
        

        
		</div> 
     </div> <!-- content -->
  
  
</div><!-- content -->
      
        </body>
    
    
       
      
</body>
</html>