<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="clusteradd" value="localhost"/>
    <add key="clusterport" value="7301"/>
    <add key="dbserver" value="127.0.0.1"/>
    <add key="database" value="postgres"/>
    <add key="userid" value="cluster"/>
    <add key="password" value="Saturnus1!"/>
    <add key="skimmer_name" value="OH2BBT"/>
  </appSettings>
</configuration>