<!DOCTYPE html>

<html>
    
  <head>
          
    
    <script src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.js"></script>
<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>
      <script type="text/javascript" src="js/fusioncharts.charts.js"></script>
    <script src="dashboard_controller.js"></script> 
      <link href="/style/style.css" type="text/css" rel="stylesheet" />


    </head>
    
<body ng-app="myApp" ng-controller="timecontrl"  >

  
	
       
		<div ng-click="start()"  class="content">
            <div class="header">
             <h1 class="topH1"> DX cluster Dashboard by OH2BBT</h1>
                </div>
			
		<div class="stuff">
	

  <div >
             
 <button ng-click="stop()">Stop</button>
        
   <!--Cluster: <input type="text" id="cluster" value="localhost:7300">-->
      
<select id="clusters">
    <option value=>Select cluster</option>
 <option value="telnet.reversebeacon.net:7000">reversebeacon</option>
 <option value="192.168.1.34:7301">OH2BBT SKIMMER </option>
    <option value="cluster.dl9gtb.de:7300">DL9GTB SKIMMER </option>
 </select>
      
      <select id="de_continent">
                <option value=>Select spotter continent</option>
                <option value="EU">EU</option>
                <option value="NA">NA</option>
                <option value="AS">AS</option>
                <option value="SA">SA</option>
                <option value="OC">OC</option>
 </select>
      
            <select id="mode">
                <option value=>Select mode</option>
                    <option value=CW>CW</option>
                    <option value=RTTY>RTTY</option>
                    <option value=PSK31>PSK31</option>
                <option value=PSK63>PSK63</option>
                <option value=PSK100>PSK100</option>
           </select>
      
                  

    <p> {{clock}}</p>
      
       <table class="htable">
   <tr>
      <th>DISTINCT CALLSIGNS FROM LAST 7 HOUR </th>
      <th>DISTINCT CALLSIGNS/BAND (LAST HOUR) </th>
   </tr>
      </table>
     
               <div class="label" fusioncharts width="400" height="300" type="column3d" chart="{{attrs}}", datasource="{{cumul}}" ></div>
     
  
        <div fusioncharts width="400" height="300" type="column3d" chart="{{attrs}}", datasource="{{band}}" ></div>
     
            <table class="htable">
   <tr>
      <th> COUNTRIES FROM LAST HOUR </th>
      
   </tr>
      </table>
     
    
           <div fusioncharts width="900" height="400" type="pie3d" chart="{{attrs}}", datasource="{{countries}}" ></div>
    </div>
       

    <div >
                   <table class="htable">
   <tr>
      <th><select id="dx">
          <option value="">select continent</option>
          <option value="ALL">ALL</option>
          <option value="DX">DX</option>
 
 
           </select> </th>
      
   </tr>
      </table>
        <table class="tftable">
   <tr>
      <th>decall</th>
      <th>dxcall</th>
       <th>country</th>
      <th>freq</th>
       <th>band</th>
      <th>mode</th>
       <th>snr</th>
      <th>datetime</th>
   </tr>
   
   <tr ng-repeat = "d in rows.data">
      <td>{{ d.decall  }}</td>
      <td>{{ d.dxcall }}</td>
          <td>{{ d.country  }}</td>
      <td>{{ d.freq }}</td>
          <td>{{ d.band  }}</td>
      <td>{{ d.mode }}</td>
          <td>{{ d.sig_noise  }}</td>
      <td>{{ d.insert_time }}</td>
   </tr>
</table>
                                 
   <!-- <table class="tftable">
   <tr>
      <th>Count</th>
      <th>band</th>
   </tr>
   
   <tr ng-repeat = "d in bandcount.data">
      <td>{{ d.value  }}</td>
      <td>{{ d.label }}</td>
   </tr>
</table>
           
	               
    <table class="tftable">
   <tr>
      <th>Count</th>
      <th>Country</th>
   </tr>
   
   <tr ng-repeat = "d in greeting.data">
      <td>{{ d.value  }}</td>
      <td>{{ d.label }}</td>
   </tr>
</table>-->
        
         
        
      
        
        
        

        
		</div> 
     </div> <!-- content -->
  
  
</div><!-- content -->
      
        </body>
    
    
       
      
</body>
</html>